.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  
  .slider img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    animation: slide 16s infinite;
  }
  
  .slider img:first-child {
    display: block;
  }
  
  @keyframes slide {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  